/* HEADER */

/* HEADER */
.header {
  padding-block: 2.4rem;
  position: relative;
}

.nav-container {
  --max-width: 120rem;
  --padding: 1.6rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 1.8rem;
  margin-right: 0.4rem;
}

.nav-link:link,
.nav-link:visited {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--clr-brown-green);
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: var(--clr-primary);
}

.nav-container div:first-child {
  display: flex;
  align-items: center;
  gap: 4.6rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 4.2rem;
}

.nav-btn-links {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.btn-mobile-nav {
  background: none;
  border: none;
  display: none;

  cursor: pointer;
}

.mobile-icon {
  height: 3rem;
  width: 3rem;
  color: var(--clr-brown-green);
}

.mobile-icon[name="close-outline"] {
  display: none;
}
